<div class="row">
  <div class="col">
    <h5>Tela de Login</h5>
    <div class="form-group">
      <label for="inpUsuario">Usuário</label>
      <input
        [(ngModel)]="usuario.nome"
        type="text"
        class="form-control"
        id="inpUsuario"
        placeholder="Digite seu usuário"
      />
    </div>
    <div class="form-group">
      <label for="inpSenha">Senha</label>
      <input
        [(ngModel)]="usuario.senha"
        type="password"
        class="form-control"
        id="inpSenha"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Login</button>
  </div>
</div>
